flows.json
[
    {
        "id": "adb307b9c788db38",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef390d5419f4c20a",
        "type": "debug",
        "z": "adb307b9c788db38",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "961d215b71cf0b40",
        "type": "MSSQL",
        "z": "adb307b9c788db38",
        "mssqlCN": "6967abc6df3c6098",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SP_Insert_Value",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "fuel_name",
                "type": "NVARCHAR(255)",
                "valueType": "msg",
                "value": "payload.fuel_type",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "price",
                "type": "DECIMAL(10, 2)",
                "valueType": "msg",
                "value": "payload.price",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "timestamp",
                "type": "DATETIME",
                "valueType": "msg",
                "value": "payload.timestamp",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "ef390d5419f4c20a"
            ]
        ]
    },
    {
        "id": "2718ab3ab50a7059",
        "type": "inject",
        "z": "adb307b9c788db38",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "d34672067ca012ef"
            ]
        ]
    },
    {
        "id": "d34672067ca012ef",
        "type": "http request",
        "z": "adb307b9c788db38",
        "name": "Get Fuel Prices",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/current-prices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "a98ef5d3622b9996",
                "b5a07db9487ab8f4"
            ]
        ]
    },
    {
        "id": "6ac110b0daa40407",
        "type": "debug",
        "z": "adb307b9c788db38",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "a98ef5d3622b9996",
        "type": "debug",
        "z": "adb307b9c788db38",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "b5a07db9487ab8f4",
        "type": "function",
        "z": "adb307b9c788db38",
        "name": "function 3",
        "func": "// Duyệt qua mảng msg.payload để gửi từng giá trị fuel_type trong mỗi message\nvar infor = msg.payload;\n\nfor (var i = 0; i < infor.length; i++) {\n    // Tạo một message mới với giá trị fuel_type tương ứng\n    // Gửi message đi tiếp trong luồng dữ liệu\n    msg.payload = infor[i]\n    node.send(msg);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "961d215b71cf0b40",
                "6ac110b0daa40407"
            ]
        ]
    },
    {
        "id": "6967abc6df3c6098",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "SQL",
        "server": "127.0.0.1",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "FuelPriceForecastDB",
        "useUTC": false,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    }
]